
<!DOCTYPE html>
<html>
<head>
<title>Two Text Boxes Website</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
<h1>Two Text Boxes</h1>
<form action="/results" method="post">
<div class="form-group">
<label for="textbox1">Text Box 1:</label>
<input type="text" class="form-control" id="textbox1" name="textbox1">
</div>
<div class="form-group">
<label for="textbox2">Text Box 2:</label>
<input type="text" class="form-control" id="textbox2" name="textbox2">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>



